{% extends "base.html" %}
{% block content %}
{% load static %}
      <section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
         <h1 class="text-white">Sizga Yaqin Takliflar</h1>
         <h6 class="text-white-50">Sevimli restoranlaringizda eng yaxshi narxlar</h6>
      </section>
      <section class="section pt-5 pb-5 products-listing">
         <div class="container">
            <div class="row d-none-m">
               <div class="col-md-12">
                  
                  <h4 class="font-weight-bold mt-0 mb-3">OFFERS <small class="h6 mb-0 ml-2">299 restaurants
                     </small>
                  </h4>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="filters shadow-sm rounded bg-white mb-4">
                     <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
                        <h5 class="m-0">Kategoriyalar</h5>
                     </div>
                     <div class="filters-body">
                        <div id="accordion">
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingOne">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Kategoriyalar <i class="icofont-arrow-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <aside class="wedget__categories poroduct--tag">

                                       <ul class="list-inline">
                                          {% for cat in categories %}
                                          <li class="mb-2 w-100"><a class="text-secondary w-100 d-flex justify-content-between" href="{% url 'listingshow' cat.id %}">{{ cat.cat_name}}<span style="text-aligin: right" class="text-sm-end d-flex">({{ cat.subcategory.count }})</span></a></li>

                                          {% endfor %}
                                       </ul>
                                    </aside>   
                                 </div>
                              </div>
                           </div>
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingTwo">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                    Maxsulot Turlari 
                                    <i class="icofont-arrow-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <aside class="wedget__categories poroduct--tag">

                                       <ul class="list-inline">
                                          {% for cat in subcategories %}
                                          <li class="mb-2 w-100"><a class="text-secondary w-100 d-flex justify-content-between" href="{% url 'listingshow' cat.id %}">{{ cat.subcat_name}}<span style="text-aligin: right" class="text-sm-end d-flex">({{ cat.products.count }})</span></a></li>

                                          {% endfor %}
                                       </ul>
                                    </aside>  
                                 </div>
                              </div>
                           </div>
                           <div class="filters-card border-bottom p-4">
                              <div class="filters-card-header" id="headingCategory">
                                 <h6 class="mb-0">
                                    <a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseFeature" aria-expanded="true" aria-controls="collapseFeature">
                                    Restoranlar <i class="icofont-arrow-down float-right"></i>
                                    </a>
                                 </h6>
                              </div>
                              <div id="collapseFeature" class="collapse" aria-labelledby="headingCategory" data-parent="#accordion">
                                 <div class="filters-card-body card-shop-filters">
                                    <aside class="wedget__categories poroduct--tag">

                                       <ul class="list-inline">
                                          {% for cat in restaurants %}
                                          <li class="mb-2 w-100"><a class="text-secondary w-100 d-flex justify-content-between" href="{% url 'detail' cat.id %}">{{ cat.name}}<span style="text-aligin: right" class="text-sm-end d-flex">({{ cat.products1.count }})</span></a></li>
                                          {% endfor %}
                                       </ul>
                                    </aside> 
                                 </div>
                              </div>
                           </div> 
                        </div>
                     </div>
                  </div>
                  <div class="filters pt-2">
                     <div class="filters-body rounded shadow-sm bg-white">
                        <div class="filters-card p-4">
                           <div>
                              <div class="filters-card-body card-shop-filters pt-0">
                                 <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="customRadio1">Gold Partner</label>
                                 </div>
                                 <div class="custom-control custom-radio mt-1 mb-1">
                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio2">Order Food Online</label>
                                 </div>
								 <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="customRadio3">Osahan Eat</label>
                                 </div>
                                 <hr>
                                 <small class="text-success">Use code OSAHAN50 to get 50% OFF (up to $30) on first 5 orders. T&Cs apply.</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4">
                     {% for category in categories%}
                     <div class="item">
                        <div class="osahan-category-item">
                           <a href="#">
                              <img class="img-fluid" src="{{ category.cat_photo.url }}" alt="">
                              <h6>{{ category.cat_name }}</h6>
                              <p>{{ category.products.count }}</p>
                           </a>
                        </div>
                     </div>
                  {% endfor %}
                     
                  </div>
                  {% block product%}
                  {% endblock product%}
                 <div class="col-md-12 text-center load-more">
                     <button class="btn btn-primary" type="button" disabled>
                         <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                         Loading...
                     </button>  
                 </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>
      <section class="section pt-5 pb-5 text-center bg-white">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="m-0">Operate food store or restaurants? <a href="login.html">Work With Us</a></h5>
               </div>
            </div>
         </div>
      </section>
      {% endblock content %}
