{% extends 'my_app/listing.html'%}
{% block product%}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 col-sm-6 mb-4 pb-2">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
                <!-- Display star rating badge -->
                <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> {{ place.star_rating }} ({{ place.reviews_count }}+)</span></div>
                <!-- Display favourite icon with link to detail page -->
                <div class="favourite-heart text-danger position-absolute"><a href="{{ place.detail_url }}"><i class="icofont-heart"></i></a></div>
                <!-- Display member plan badge -->
                {% if place.promoted %}
                <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
                {% endif %}
                <a href="">
                   <img src="{{ product.photo.url }}" class="img-fluid item-img" style="width: 300px; height: 200px;">

                </a>
            </div>
            <div class="p-3 position-relative">
                <div class="list-card-body">
                    <!-- Display place name with link to detail page -->
                    <h6 class="mb-1"><a href="{{ place.detail_url }}" class="text-black">{{ product.name }}</a></h6>
                    <!-- Display cuisine types -->
                    <p class="text-gray mb-3"><a href="{% url 'detail' product.restaurant.id %}">{{ product.restaurant.name }}</a></p>

                    <!-- Display estimated delivery time and cost for two -->
                    <p class="text-gray mb-3 time">
                        <span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"></i> {{product.price}} so'm</span>
                        <span class="float-right text-black-50"> Turi: {{ place.type_place }} </span>
                    </p>
                </div>
                <!-- Display offer badge and details -->
                <div class="list-card-badge">
                    <span class="badge badge-success">OFFER</span> <small>{{ place.offer_details }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock product%}
