{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="Askbootstrap" />
      <meta name="author" content="Askbootstrap" />
      <title>Osahan Eat - Online Food Ordering Website HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="{% static 'users/img/favicon.png' %}">
      <!-- Feather Icon-->
      <link href="{% static 'users/vendor/icons/feather.css' %}" rel="stylesheet" type="text/css">
      <!-- Fontawesome Icon-->
      <link href="{% static 'users/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
      <!-- Bootstrap Css -->
      <link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom Css -->
      <link href="{% static 'users/css/styles.css' %}" rel="stylesheet" />
      <!-- Dropzone -->
      <link href="{% static 'users/vendor/dropzone/dist/dropzone.css' %}" rel="stylesheet">
      <!-- Date Picker -->
      <link href="http://www.ansonika.com/foogra/admin_section/css/date_picker.css" rel="stylesheet">
      <!-- Summernote Editor -->
      <link href="{% static 'users/vendor/summernote/summernote-bs4.min.css' %}" rel="stylesheet">
      <!-- Datatables css -->
      <link href="{% static 'users/vendor/dataTables/dataTables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
   </head>
   <body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
         <a class="navbar-brand" href="{% url 'index' %}"><img alt="logo" src="{% static 'my_app/img/logo.png' %}"></a>
         <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
         <!-- Navbar Search-->
         <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
           
         </form>
         <!-- Navbar-->
         
            
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
               <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img class="img-profile rounded-circle" src="{{ user.image.url }}">
               </a>
               <!-- Dropdown - User Information -->
               <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <div class="p-3 d-flex align-items-center">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{{ user.image.url }}" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">{{ user.first_name }}</div>
                        <div class="small text-gray-500">{{ user.last_name }}</div>
                     </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'index'%}"><i class="feather-log-out"></i> Chiqish</a>
               </div>
            </li>
         </ul>
      </nav>
      <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
         <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
               <div class="nav">
                  <div class="sb-sidenav-menu-heading">Menyu</div>
                  <a class="nav-link" href="{% url 'users:review' %}">
                     <div class="sb-nav-link-icon"><i class="feather-star"></i></div>
                     Sharxlar va baholar
                  </a>
                  
                  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                     <div class="sb-nav-link-icon"><i class="feather-book"></i></div>
                     Sahifalar
                     <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                     <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="{{' index '}}" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                           Asosiy Sahifalar
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="{% url 'index' %}">Bosh sahifa</a>
                           </nav>
                        </div>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="{% url 'listing' %}">Menyu</a>
                           </nav>
                        </div>
                     </nav>
                     <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="{{' index '}}" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                           Boshqa sahifalar
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="{% url 'users:login' %}">Kirish sahifa</a>
                           </nav>
                        </div>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="{% url 'users:register' %}">Ro'yhatdan o'tish</a>
                           </nav>
                        </div>
                     </nav>
                  </div>                 
               </div>
            </div>
         </nav>
      </div>
      {% if messages %}
         <div class="container">
         {% for message in messages %}
            <div class="alert alert-secondary text-dark alert-dismissible fade show" role="alert" style="background-color: bg-second;">
               <div style="text-align: center;">{{ message }}</div>
                        
                   
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
         {% endfor %}
         </div>
   {% endif %}
      {% block content%}
      {% endblock content%}
      
  </div>
</div>
<!-- Edit Booking Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content" style="border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
       <div class="modal-header" style="background-color: #f8f9fa; border-bottom: none; border-radius: 8px 8px 0 0;">
         <h5 class="modal-title" id="messageModalLabel" style="font-size: 20px; color: #333333;">Xabar</h5>
       </div>
       <div class="modal-body" id="messageModalBody" style="padding: 20px;">
         <p style="font-size: 18px;">{{ message }}</p>
       </div>
       <div class="modal-footer" style="border-top: none; border-radius: 0 0 8px 8px;">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="font-size: 14px;">Yopish</button>
       </div>
     </div>
   </div>
 </div>
<!-- Jquery -->
<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<!-- Fontawesome -->
<script src="{% static 'users/vendor/fontawesome/js/all.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom Js -->
<script src="{% static 'users/js/scripts.js' %}"></script>
<!-- Ajax Chart Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!-- Chart Js -->
<script src="{% static 'users/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'users/assets/demo/chart-bar-demo.js' %}"></script>
<script src="{% static 'users/assets/demo/chart-pie-demo.js' %}"></script>
<!-- Datatable Js -->
<script src="{% static 'users/vendor/dataTables/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'users/vendor/dataTables/dataTables/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'users/assets/demo/datatables-demo.js' %}"></script>
<!-- Dropzone-->
<script src="{% static 'users/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="http://www.ansonika.com/foogra/admin_section/vendor/bootstrap-datepicker.js"></script>
<script>
  $('input.date-pick').datepicker();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if messages %}
      <script>
         document.addEventListener('DOMContentLoaded', function() {
            var messageModalBody = document.getElementById('messageModalBody');

            {% for message in messages %}
            var messageParagraph = document.createElement('p');
            messageParagraph.textContent = "{{ message }}";
            messageModalBody.appendChild(messageParagraph);
            {% endfor %}

            var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
            messageModal.show();

            // Modal oynasini sekunddan so'ng yopish
            setTimeout(function() {
            messageModal.hide(); // Modalni yopish
            }, 3000); // 3000 milisekund (3 sekund) dan so'ng yopiladi, kerakli vaqtni o'zgartiring
         });
      </script>
{% endif %}      

</body>
</html>