{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="Askbootstrap" />
      <meta name="author" content="Askbootstrap" />
      <title>Osahan Eat - Online Food Ordering Website HTML Template</title>
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="{% static 'users/img/favicon.png' %}">
      <!-- Feather Icon-->
      <link href="{% static 'users/vendor/icons/feather.css' %}" rel="stylesheet" type="text/css">
      <!-- Fontawesome Icon-->
      <link href="{% static 'users/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
      <!-- Bootstrap Css -->
      <link href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom Css -->
      <link href="{% static 'users/css/styles.css' %}" rel="stylesheet" />
      <!-- Dropzone -->
      <link href="{% static 'users/vendor/dropzone/dist/dropzone.css' %}" rel="stylesheet">
      <!-- Date Picker -->
      <link href="http://www.ansonika.com/foogra/admin_section/css/date_picker.css" rel="stylesheet">
      <!-- Summernote Editor -->
      <link href="{% static 'users/vendor/summernote/summernote-bs4.min.css' %}" rel="stylesheet">
      <!-- Datatables css -->
      <link href="{% static 'users/vendor/dataTables/dataTables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
   </head>
   <body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-light bg-white shadow-sm">
         <a class="navbar-brand" href="index.html"><img alt="logo" src="{% static 'users/img/logo.png"></a>
         <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
         <!-- Navbar Search-->
         <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
               <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
               <div class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="feather-search"></i></button>
               </div>
            </div>
         </form>
         <!-- Navbar-->
         
            
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
               <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img class="img-profile rounded-circle" src="{% static 'users/img/user/1.png' %}">
               </a>
               <!-- Dropdown - User Information -->
               <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <div class="p-3 d-flex align-items-center">
                     <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'users/img/user/1.png' %}" alt="">
                        <div class="status-indicator bg-success"></div>
                     </div>
                     <div class="font-weight-bold">
                        <div class="text-truncate">Gurdeep Osahan</div>
                        <div class="small text-gray-500">Restaurants Owner</div>
                     </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="my-profile.html"><i class="feather-edit"></i> My Account</a>
                  <a class="dropdown-item" href="my-profile.html"><i class="feather-settings"></i> Account Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="sign-in.html"><i class="feather-log-out"></i> Logout</a>
               </div>
            </li>
         </ul>
      </nav>
      <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
         <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
               <div class="nav">
                  <div class="sb-sidenav-menu-heading">Menyu</div>
                  <a class="nav-link" href="reviews.html">
                     <div class="sb-nav-link-icon"><i class="feather-star"></i></div>
                     Reviews
                  </a>
                  <a class="nav-link" href="my-profile.html">
                     <div class="sb-nav-link-icon"><i class="feather-user"></i></div>
                     My Profile
                  </a>
                  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                     <div class="sb-nav-link-icon"><i class="feather-book"></i></div>
                     Pages
                     <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                     <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                           Authentication
                           <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                           <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="login.html">Login</a>
                           </nav>
                        </div>
                     </nav>
                  </div>                 
               </div>
            </div>
         </nav>
      </div>
      {% block content%}
      {% endblock content%}
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
           <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Your Website 2020</div>
              <div>
                 <a href="#">Privacy Policy</a>
                 &middot;
                 <a href="#">Terms &amp; Conditions</a>
              </div>
           </div>
        </div>
     </footer>
  </div>
</div>
<!-- Edit Booking Modal -->
<div class="modal fade" id="edit_booking" tabindex="-1" role="dialog" aria-labelledby="edit_bookingLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="edit_bookingLabel">Reply to review</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
           </button>
        </div>
        <div class="modal-body">
           <div class="form-group m-0">
              <textarea cols="60" rows="6" class="form-control" spellcheck="false"></textarea>
           </div>
        </div>
        <div class="modal-footer">
           <a class="btn btn-primary btn-block" href="#">Reply</a>
        </div>
     </div>
  </div>
</div>
<!-- Jquery -->
<script src="{% static 'users/vendor/jquery/jquery.min.js' %}"></script>
<!-- Fontawesome -->
<script src="{% static 'users/vendor/fontawesome/js/all.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'users/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom Js -->
<script src="{% static 'users/js/scripts.js' %}"></script>
<!-- Ajax Chart Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<!-- Chart Js -->
<script src="{% static 'users/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'users/assets/demo/chart-bar-demo.js' %}"></script>
<script src="{% static 'users/assets/demo/chart-pie-demo.js' %}"></script>
<!-- Datatable Js -->
<script src="{% static 'users/vendor/dataTables/dataTables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'users/vendor/dataTables/dataTables/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'users/assets/demo/datatables-demo.js' %}"></script>
<!-- Dropzone-->
<script src="{% static 'users/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="http://www.ansonika.com/foogra/admin_section/vendor/bootstrap-datepicker.js"></script>
<script>
  $('input.date-pick').datepicker();
</script>
</body>
</html>